.box{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.Conteiner{
    width: 100%;
    height: 30%;
}
.top{
    width: 100%;
    height: 100%;
    background: #8987ff;
}
.bottom{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
.left-botom{
    width: 70%;
    height: 100%;
    background: #8987ff;
}
.Right-botom{
    width: 30%;
    height: 100%;
    background: #8987ff;
}