.object{
    width: 100%;
    height: 1000px;
    background: rgba(255, 0, 66, 0);
    display:flex;
    flex-direction: column;
    row-gap: 10px;
}
.top{
    width: 100%;
    height:25%;
    display: flex;
    flex-direction: column;
}
.widgets{
    font-size: 25px;
    color: #404040;
    width: 100%;
    height: 100%;
    background: #1c0eff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.Big-Widgets{
    width: 33%;
    height: 100%;
    background: #1c0eff;
    display:flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.Bigger-Widgets{
    width: 33%;
    height: 100%;
    background: #1c0eff;
    display:flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.Huge-Widgets{
    width: 33%;
    height: 100%;
    background: #1c0eff;
    display:flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.Contact{
    width: 100%;
    height: 50%;
    display: flex;
}
.contact{
    width: 100%;
    height: 50%;
    font-size: 25px;
    background: #1c0eff;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
